@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Reservation System</title>

    @Styles.Render("~/Content/MyCSS")
    @Scripts.Render("~/Scripts/MyJS")
</head>
<body style="background-color: #EFF1DB">

    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid" style="text-align:center">
            <h2 style="color: white "><b>RESTAURANT RESERVATION SYSTEM</b></h2>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div>
            <br />
            <footer class="footers">
                <p>&copy; @DateTime.Now.Year - Restaurent Reservation Application</p>
            </footer>
        </div>
    </div>
</body>
</html>