body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.form-group
{
    margin-top:5%;
}
.fontsize {
    font-size: large;
    color: black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.dataTables_length {
    margin-top:12px;
    margin-left: 15px;
}

.buttons-div{
    margin-top: 12px;
    margin-left: 15px;
}
/*.dataTables_info {
    margin-top: -80px;
    margin-left: 180px;
}*/
.dataTables_filter {
    margin-top:-25px;
    margin-bottom:5px;
    display:flex;
}

.html, body {
    margin: 0;
    height: 100%;
}
/*.bottom-navigation {
   
    margin-bottom: -25px;
    
}*/
.footers {
    position: fixed;
    left: 0;
    height: 4%;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.dataTables_scrollBody {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}


div.container {
    width: 90% !important;
}
/*.dt-body-center {
    background-color: #EFF1DB;
}*/
.space{
   margin-left:12px;
   margin-right:12px;
}
.glyphicon-info-sign {
    font-size: large;
    color: dodgerblue;
}
.glyphicon-edit {
    font-size: large;
    color:forestgreen;
}
.glyphicon-trash {
    font-size: large;
    color: red !important;
}
.glyphicon-info-sign:hover, .glyphicon-info-sign:active {
    color: blue;
    transform: scale(1.5);
}
.glyphicon-edit:hover, .glyphicon-edit:active {
    color: green;
    transform: scale(1.5);
}
.glyphicon-trash:hover, .glyphicon-trash:active {
    
    transform: scale(1.5);
}
.dt-buttons {
 
  display:none;

}
.dropdown-toggle-split {
    height:34px;
}

.navbar {
    background-image: linear-gradient(to bottom,#707B7C 0,#1C2833 100%) !important;
    
}
.form-horizontal{
    align-content:center !important;
}
/*.form-group{
    display:flex;
}*/
.glyphicon-plus-sign{
    color:green;
}
.glyphicon-minus-sign {
    color: red;
}
