@model RestaurentMVC.Models.Booking
@using BookingClassLibrary.Enum;


<form name="delete_form">

    <div style="">
        <br />


        <h3 style="text-align:center;color:red">Are you sure you want to delete this?</h3>
        <hr />
        
        <div style="padding-left: 10%; background-color: #aab7b8">


            <dl class="dl-horizontal" style="padding-left:5rem">


                <dd>
                    @Html.HiddenFor(model => model.Bookid, new { @id = "id" })
                  
                </dd>

                <br/>

                <dt class="fontsize">
                    <label>Booking Name   :  </label>
                </dt>

                <dd class="fontsize">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <br />



                <dt class="fontsize">
                    <label>Dining Type  :   </label>

                </dt>

                <dd class="fontsize">
                    @Html.DisplayFor(model => model.TypeOfDining)
                </dd>

                <br />


            </dl>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" id="delete" class="btn btn-danger" onclick="deletedataconfirm()">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>


</form>
