<div name="Pdfsaver">
    <div class="modal-header" style="text-align:center;">
        <button type="button" class="close" data-dismiss="modal" title="Close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">
            <span><b id="titlename">Pdf Preview</b></span>
        </h3>

    </div>
    <div class="modal-body">
        <iframe name="print_frame" src="~/Pdf/result.pdf" height="550" width="770" frameborder="0"></iframe>
    </div>
</div>