

@{
    ViewBag.Title = "Index";
}


<meta name="viewport" content="width=device-width" />

<title>Bookings</title>

<script>
            var dataTable;
            $(document).ready(function () {

                dataTable=$('#myBookings').DataTable(

                    {
                        "processing": true,
                        "serverSide": true,
                        "filter": true,
                        
                        "order": [0, "asc"],
                        "dom": '<"top"f>rt<"bottom"lpi><"clear">',

                        "columnDefs": [

                            { "targets": [0,2,5,7], orderable: false, className:'dt-head-center dt-body-center' },
                            { "targets": [1, 3, 4, 6], className: 'dt-head-center dt-body-center' },
                            
                        ],
                        "ajax": {

                            "url": "/Booking/Bookinglist",

                            "type": "POST",

                            "datatype": "json"

                        },

                        "columns": [
                            {
                                
                                render: function (data, type, row, meta) {
                                    return meta.row + meta.settings._iDisplayStart + 1;
                                }
                            },

                            { "data": "Name", "autoWidth": true},

                            { "data": "Phone", "autoWidth": true },

                            { "data": "TypeOfDining", "autoWidth": true },

                            {
                                "data": "Date",
                                "type": "datetime",
                                "render": function (value) {
                                    if (value === null) return "";
                                    var pattern = /Date\(([^)]+)\)/;
                                    var results = pattern.exec(value);
                                    var dt = new Date(parseFloat(results[1]));
                                    return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear()
                                },
                                 "autoWidth": true
                            },

                            { "data": "Time", "autoWidth": true},

                            { "data": "Guest", "autoWidth": true},

                            {
                                "data": "Bookid",
                                "render": function (data, type, full, meta) {
                                    return ('<button class="btn btn-info" title="View" onclick="getdata(' + full.Bookid + ')"><span class="glyphicon glyphicon-eye-open"></span></button> <button class="btn btn-warning" title="Edit" onclick="geteditdata(' + full.Bookid + ')"><span class="glyphicon glyphicon-pencil"></button>  <button class="btn btn-danger"  title="Delete" onclick="deletedata(' + full.Bookid +')"><span class="glyphicon glyphicon-trash"></span></button>');
                                }, "autoWidth": true
                            },

                        ]

                    });
                
            });
    
            function createpopup() {
                $.get("/Booking/Create", { operation: "Create" }, function (result) {
                    
                    $('#modelbody1').html(result);
                    
                    $('#exampleModal').modal('show');
                    
                    var edit = document.getElementById("edit");
                    edit.style.display = 'none';
                    var save_edit = document.getElementById("save_edit");
                    save_edit.style.display = 'none';

                })
            }

            function getdata(id) {
                $.get("/Booking/View", { operation: "View", Bookid: id }, function (result) {

                    $('#modelbody1').html(result);
                    $('#exampleModal').modal('show');
                    
                    var save = document.getElementById("save");
                    save.style.display = 'none';
                    
                    $('#save_edit').prop('disabled','true');

                })
            }

            function geteditdata(id) {
                $.get("/Booking/Edit", { operation: "Edit", Bookid: id }, function (result) {

                    $('#modelbody1').html(result);
                    $('#exampleModal').modal('show');
                    var save = document.getElementById("save");
                    save.style.display = 'none';
                    var edit = document.getElementById("edit");
                    edit.style.visibility = 'hidden';
                    

                })
            }

            function deletedata(id) {
                $.get("/Booking/Delete", { operation: "Delete", Bookid: id }, function (result) {

                    $('#modelbody1').html(result);
                    $('#exampleModal').modal('show');

                })
            }

            function savechanges() {
                var form = $('form[name="operationForm"]');
                var modal = $('#exampleModal');

                nameValidation();
                validateGuest();
                validateTime();
                validatePhone();
                form.validate();
                
                if (!form.valid()) {
                    return;
                }
                else {
                    var data = form.serialize();
                    $.post("/Booking/Create", data, function (result) {
                        if (result) {
                            toastr.options = {
                                "closeButton": true,
                                "newestOnTop": false,
                                "progressBar": true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "200",
                                "hideDuration": "1000",
                                "timeOut": "3000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            toastr["success"]("Booking Created Successfully!")
                            modal.modal('hide');
                            dataTable.ajax.reload(null, false);
                        }
                    })
                }
            }
   
            function save_editedchanges() {
                var form = $('form[name="operationForm"]');
                var modal = $('#exampleModal');
                nameValidation();
                validateGuest();
                validateTime();
                validatePhone();
                form.validate();
                if (!form.valid()) {
                    return;
                }
                else {
                    var data = form.serialize();
                    $.post("/Booking/Edit", data, function (result) {
                        if (result) {
                            toastr.options = {
                                "closeButton": true,
                                "newestOnTop": false,
                                "progressBar": true,
                                "positionClass": "toast-bottom-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "200",
                                "hideDuration": "1000",
                                "timeOut": "3000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            toastr["success"]("Booking Updated Successfully!")
                            modal.modal('hide');
                            dataTable.ajax.reload(null, false);
                        }
                    })
                }
            }

                function deletedataconfirm(){

                    var form = $('form[name="delete_form"]');
                    var modal = $('#exampleModal');
                    if (!form.valid()) {
                        return ;
                    }
                    else {
                        var data = form.serialize();
                        
                        $.post("/Booking/Delete", data, function (result) {
                            if (result) {
                                toastr.options = {
                                    "closeButton": true,
                                    "newestOnTop": false,
                                    "progressBar": true,
                                    "positionClass": "toast-bottom-right",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "200",
                                    "hideDuration": "1000",
                                    "timeOut": "3000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                }
                                toastr["error"]("Booking deleted successfully!")
                                modal.modal('hide');
                                dataTable.ajax.reload(null, false);
                            }
                        })
                    }

                }




</script>



<div>
    
    <div>
        <br />


        <div>

            <button type="button" style="margin-bottom:-40px" class="btn btn-success" onclick="createpopup()">
                New Booking
            </button>
        </div>

        

        <div>

            <table id="myBookings" class="table  table-bordered">

                <thead style="background-color: #1C2833; color: white">

                    <tr>
                        <th>Sl.No</th>

                        <th>Name</th>

                        <th>Phone</th>

                        <th>Dining Type</th>

                        <th>Date</th>

                        <th>Time (24 Hr Format)</th>

                        <th>No.of Guests</th>

                        <th>Action</th>

                    </tr>

                </thead>

            </table>

        </div>
    </div>
</div>
<div data-backdrop="static" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modelbody1" style="width:90%;" >

        </div>
    </div>

</div>
