

@{
    ViewBag.Title = "Index";}


<meta name="viewport" content="width=device-width" />

<title>Bookings</title>

<script>
            var dataTable;
            $(document).ready(function () {

                dataTable=$('#myBookings').DataTable(

                    {
                        "processing": true,
                        "serverSide": true,
                        "filter": true,                        
                        "scrollY": "420px",
                        
                        "scrollCollapse": false,
                        "responsive": true,
                        "order": [0, "asc"],
                        "dom": '<"top"f>rt<"bottom"ilBp><"clear">',                        
                        dom: 'Bfrtipl',
                        buttons: [
                            {
                                extend: 'excel',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5,6]
                                }
                            },
                            {
                                extend: 'pdf',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5,6]
                                }
                            },
                            {
                                extend: 'print',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5,6]
                                }
                            }
                        ],
                        "columnDefs": [

                            { "targets": [0,2,5,7], orderable: false, className:'dt-head-center dt-body-center' },
                            { "targets": [1, 3, 4, 6], className: 'dt-head-center dt-body-center' },
                            
                        ],
                        "ajax": {

                            "url": "/Booking/Bookinglist",

                            "type": "POST",

                            "datatype": "json"

                        },

                        "columns": [
                            {
                                
                                render: function (data, type, row, meta) {
                                    return meta.row + meta.settings._iDisplayStart + 1;
                                }
                            },

                            { "data": "Name", "autoWidth": true},

                            { "data": "Phone", "autoWidth": true },

                            { "data": "TypeOfDining", "autoWidth": true },

                            {
                                "data": "Date",
                                "type": "datetime",
                                "render": function (value) {
                                    if (value === null) return "";
                                    var pattern = /Date\(([^)]+)\)/;
                                    var results = pattern.exec(value);
                                    var dt = new Date(parseFloat(results[1]));
                                    return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear()
                                },
                                 "autoWidth": true
                            },

                            { "data": "Time", "autoWidth": true},

                            { "data": "Guest", "autoWidth": true},

                            {
                                "data": "Bookid",
                                "render": function (data, type, full, meta) {
                                    return ('<a class="view "  title="View" onclick="getdata(' + full.Bookid + ')"><span class="glyphicon glyphicon-info-sign"></span></a> <a class="space edit" title="Edit" onclick="geteditdata(' + full.Bookid + ')"><span class="glyphicon glyphicon-edit"></a>  <a class="trash"  title="Delete" onclick="deletedata(' + full.Bookid +')"><span class="glyphicon glyphicon-trash"></span></a>');
                                }, "autoWidth": true
                            },

                        ]

                    });
                
            });

                

    $(document).on('click', '#btnExcel', function () {
        $(".buttons-excel")[0].click();
    });
    $(document).on('click', '#btnPdf', function () {
        $(".buttons-pdf")[0].click();
    });
    $(document).on('click', '#btnPrint', function () {
        $(".buttons-print")[0].click();
    });
                function createpopup() {
                    $.get("/Booking/Create", { operation: "Create" }, function (result) {
                    
                        $('#modelbody1').html(result);
                    
                        $('#exampleModal').modal('show');
                    
                        var edit = document.getElementById("edit");
                        edit.style.display = 'none';
                        var save_edit = document.getElementById("save_edit");
                        save_edit.style.display = 'none';

                    })
                }

                function getdata(id) {
                    $.get("/Booking/View", { operation: "View", Bookid: id }, function (result) {

                        $('#modelbody1').html(result);
                        $('#exampleModal').modal('show');
                    
                        var save = document.getElementById("save");
                        save.style.display = 'none';
                    
                        $('#save_edit').prop('disabled','true');

                    })
                }

                function geteditdata(id) {
                    $.get("/Booking/Edit", { operation: "Edit", Bookid: id }, function (result) {

                        $('#modelbody1').html(result);
                        $('#exampleModal').modal('show');
                        var save = document.getElementById("save");
                        save.style.display = 'none';
                        var edit = document.getElementById("edit");
                        edit.style.visibility = 'hidden';
                    

                    })
                }

                function deletedata(id) {
                    $.get("/Booking/Delete", { operation: "Delete", Bookid: id }, function (result) {

                        $('#modelbody1').html(result);
                        $('#exampleModal').modal('show');

                    })
                }

                function savechanges() {
                    var form = $('form[name="operationForm"]');
                    var modal = $('#exampleModal');
                    nameValidation();
                    validateGuest();
                    validateTime();
                    validatePhone();        
                    form.validate();

                    if (!form.valid()) {
                        return;
                    }
                    else {
                        var data = form.serialize();            
                            $.post("/Booking/Create", data, function (result) {
                                console.log(result);
                                if (result) {
                                    toastr.options ={
                                        "closeButton": true,
                                        "newestOnTop": false,
                                        "progressBar": true,
                                        "positionClass": "toast-bottom-right",
                                        "preventDuplicates": false,
                                        "onclick": null,
                                        "showDuration": "200",
                                        "hideDuration": "1000",
                                        "timeOut": "3000",
                                        "extendedTimeOut": "1000",
                                        "showEasing": "swing",
                                        "hideEasing": "linear",
                                        "showMethod": "fadeIn",
                                        "hideMethod": "fadeOut"
                                    }
                                    toastr["success"]("Booking Created Successfully!")
                                    modal.modal('hide');

                                    dataTable.ajax.reload(null, false);
                                }
                            })         
                    }
                }
        
   
                function save_editedchanges() {
                    var form = $('form[name="operationForm"]');
                    var modal = $('#exampleModal');
                    nameValidation();
                    validateGuest();
                    validateTime();
                    validatePhone();
                    form.validate();
                    if (!form.valid()) {
                        return;
                    }
                    else {
                        var data = form.serialize();
                    
                            $.post("/Booking/Edit", data, function (result) {
                                if (result) {
                                    toastr.options = {
                                        "closeButton": true,
                                        "newestOnTop": false,
                                        "progressBar": true,
                                        "positionClass": "toast-bottom-right",
                                        "preventDuplicates": false,
                                        "onclick": null,
                                        "showDuration": "200",
                                        "hideDuration": "1000",
                                        "timeOut": "3000",
                                        "extendedTimeOut": "1000",
                                        "showEasing": "swing",
                                        "hideEasing": "linear",
                                        "showMethod": "fadeIn",
                                        "hideMethod": "fadeOut"
                                    }
                                    toastr["success"]("Booking Updated Successfully!")
                                    modal.modal('hide');
                                    dataTable.ajax.reload(null, false);
                                }
                            })
                        }
                
                }

                function deletedataconfirm(){

                    var form = $('form[name="delete_form"]');
                    var modal = $('#exampleModal');
                    if (!form.valid()) {
                        return ;
                    }
                    else {
                        var data = form.serialize();
                        
                        $.post("/Booking/Delete", data, function (result) {
                            if (result) {
                                toastr.options = {
                                    "closeButton": true,
                                    "newestOnTop": false,
                                    "progressBar": true,
                                    "positionClass": "toast-bottom-right",
                                    "preventDuplicates": false,
                                    "onclick": null,
                                    "showDuration": "200",
                                    "hideDuration": "1000",
                                    "timeOut": "3000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                }
                                toastr["error"]("Booking deleted successfully!")
                                modal.modal('hide');
                                dataTable.ajax.reload(null, false);
                            }
                        })
                    }

                }
</script>




    
<div>
    <br />
    


    <div>
        <button type="button" style="margin-bottom:-35px" class="btn btn-success" onclick="createpopup()">
            New Booking
        </button>
        <div style="padding-left:150px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" color="green" fill="currentColor" id="btnExcel" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
            </svg>
            &nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" color="red" fill="currentColor" id="btnPdf" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
            </svg>
            &nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" color="blue" fill="currentColor" id="btnPrint" class="bi bi-printer" viewBox="0 0 16 16">
                <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
            </svg>
        </div>
    </div>


    <div>

        <table id="myBookings" class="table  table-bordered dt-responsive nowrap">

            <thead style="background-color: #1C2833; color: white">

                <tr>
                    <th>Sl.No</th>

                    <th>Name</th>

                    <th>Phone</th>

                    <th>Dining Type</th>

                    <th>Date</th>

                    <th>Time (24 Hr Format)</th>

                    <th>No.of Guests</th>

                    <th>Action</th>

                </tr>

            </thead>

        </table>


    </div>



</div>



<div data-backdrop="static" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modelbody1" style="width:90%;" >

        </div>
    </div>

</div>
