@*@model BookingClassLibrary.Booking*@

@{
    ViewBag.Title = "Index";
}


<meta name="viewport" content="width=device-width" />

<title>Bookings</title>

<script>
            var dataTable;
            $(document).ready(function () {

                dataTable=$('#myBookings').DataTable(

                    {
                        "processing": true,
                        "serverSide": true,
                        "filter": true,

                        "ajax": {

                            "url": "/Booking/Bookinglist",

                            "type": "POST",

                            "datatype": "json"

                        },

                        "columns": [


                            { "data": "Name" },

                            { "data": "Phone" },

                            { "data": "TypeOfDining" },

                            { "data": "Date" },

                            { "data": "Time" },

                            { "data": "Guest" },

                            {
                                "data": "Bookid",
                                "render": function (data, type, full, meta) {
                                    return ('<button class="btn btn-success" onclick="getdata(' + full.Bookid + ')">View</button>   <button class="btn btn-danger" onclick="deletedata(' + full.Bookid +')">Delete</button>');
                                }
                            },

                        ]

                    });

            });

            function createpopup() {
                $.get("/Booking/Create", { operation: "Create" }, function (result) {
                    
                    $('#modelbody1').html(result);
                    
                    $('#exampleModal').modal('show');
                    
                    var edit = document.getElementById("edit");
                    edit.style.display = 'none';
                    var save_edit = document.getElementById("save_edit");
                    save_edit.style.display = 'none';

                })
            }

            function getdata(id) {
                $.get("/Booking/Edit", { operation: "Edit", Bookid: id }, function (result) {

                    $('#modelbody1').html(result);
                    $('#exampleModal').modal('show');
                    
                    var save = document.getElementById("save");
                    save.style.display = 'none';
                    var save_edit = document.getElementById("save_edit");
                    save_edit.style.visibility = 'hidden';

                })
            }

            function deletedata(id) {
                $.get("/Booking/Delete", { operation: "Delete", Bookid: id }, function (result) {

                    $('#modelbody1').html(result);
                    $('#exampleModal').modal('show');

                })
            }

            function savechanges() {
                var form = $('form[name="operation_form"]');
                var modal = $('#exampleModal');

                form.validate();

                if (!form.valid()) {
                    return;
                }
                else {
                    var data = form.serialize();
                    $.post("/Booking/Create", data, function (result) {
                        if (result) {
                            modal.modal('hide');
                            dataTable.ajax.reload();
                        }
                    })
                }
            }

            function save_editedchanges() {
                var form = $('form[name="operation_form"]');
                var modal = $('#exampleModal');

                form.validate();

                if (!form.valid()) {
                    return;
                }
                else {
                    var data = form.serialize();
                    $.post("/Booking/Edit", data, function (result) {
                        if (result) {
                            modal.modal('hide');
                            dataTable.ajax.reload();
                        }
                    })
                }
            }

                function deletedataconfirm() {

                    var form = $('form[name="delete_form"]');
                    var modal = $('#exampleModal');

                    form.validate();
                    

                    if (!form.valid()) {
                        return;
                    }
                    else {
                        var data = form.serialize();
                        $.post("/Booking/Delete", data, function (result) {
                            if (result) {
                                modal.modal('hide');
                                dataTable.ajax.reload();
                            }
                        })
                    }

            }

</script>



<div>
    <br /><br />
    <div>
        <h1 style="text-align:center">RESTAURANT RESERVATION SYSTEM</h1>
        <h1 style="text-align:center">All Bookings</h1>

       

        <div style="display: flex; justify-content: center; align-items: center;">

            <button type="button" class="btn btn-primary" onclick="createpopup()">
                New Booking
            </button>
        </div>
        
        <br />

        <div>

            <table id="myBookings" class="ui celled table">

                <thead>

                    <tr>


                        <th>Name</th>

                        <th>Phone</th>

                        <th>Dining Type</th>

                        <th>Date</th>

                        <th>Time</th>

                        <th>Guest</th>

                        <th></th>

                    </tr>

                </thead>

            </table>

        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modelbody1">

        </div>
    </div>

</div>
