@model BookingClassLibrary.Booking

@{
    ViewBag.Title = "Index";
}
<html>
<head>

    <meta name="viewport" content="width=device-width" />

    <title>Bookings</title>
    <!--Required jQuery file-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--Required datatable js file-->

    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <!--Required datatable css file-->

    <link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />

    <!--semantic ui js file-->

    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.semanticui.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

    <!--semantic ui css file-->

    <link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.semanticui.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>

        $(document).ready(function () {

            $('#myBookings').DataTable(

                {
                    "processing": true,
                    "serverSide": true,
                    "filter": true,

                    "ajax": {

                        "url": "/Booking/Bookinglist",

                        "type": "POST",

                        "datatype": "json"

                    },

                    "columns": [


                        { "data": "Name" },

                        { "data": "Phone" },

                        { "data": "TypeOfDining" },

                        { "data": "Date" },

                        { "data": "Time" },

                        { "data": "Guest" },

                        {
                            "data": null,
                            "render": function (data, type, full, meta) {
                                return ('<a class="btn btn-success" href="/Booking/Edit?Bookid=' + full.Bookid + '">Edit</a> <a class="btn btn-info" href="/Booking/View?Bookid=' + full.Bookid + '">View</a>  <a class="btn btn-danger" href="/Booking/Delete?Bookid=' + full.Bookid + '">Delete</a>');
                            }
                        },

                    ]

                });

        });

    </script>

</head>

<body style="background-color: #E0E0E0 ">
    <br /><br />
    <div>
        <h1 style="text-align:center">RESTAURANT RESERVATION SYSTEM</h1>
        <h1 style="text-align:center">All Bookings</h1>
        <h3 style="text-align:center;">

            @Html.ActionLink("New Booking !!", "Create")
        </h3>


        <div>

            <table id="myBookings" class="ui celled table">

                <thead>

                    <tr>


                        <th>Name</th>

                        <th>Phone</th>

                        <th>Dining Type</th>

                        <th>Date</th>

                        <th>Time</th>

                        <th>Guest</th>

                        <th></th>

                    </tr>

                </thead>

            </table>

        </div>
    </div>

    <div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>